html {
  background-color: #FFF;
}
 body {
   padding-left: 0;
   padding-right: 0;
  background: transparent;
 }
#main-content { background: #eaeaea; }
.container-fluid.container-fluid-1 {
  padding: 0px 10px 10px 10px;
  margin-top: 15px;
}
.container-fluid-1 .row-fluid .span12 .container-fluid {
  background: #ffffff;
  -moz-box-shadow: 0px 1px 5px 0px #474747;
  -webkit-box-shadow: 0px 1px 5px 0px #474747;
  -o-box-shadow: 0px 1px 5px 0px #474747;
  box-shadow: 0px 1px 5px 0px #474747;
  border-radius: 3px;
  margin-bottom: 15px;
  padding: 0px;
}
.container-fluid-1 .row-fluid .span12 .container-fluid .heading {
  padding: 10px 10px 10px 15px;
  margin: 0px;
  background: rgba(0, 0, 0, 0) url(../images/source.jpg) repeat 0px 0px;
  background-size: cover;
  text-shadow: 0px 1px 2px #000000;
  font-family:"helvetica";
  font-size: 30px;
  color: #ffffff;
  border-radius: 3px 3px 0px 0px;
}
.container-fluid-1 .row-fluid .span12 .container-fluid p.p-1 {
  font-weight: bold;
}
.container-fluid-1 .row-fluid .span12 .container-fluid p.p-2 {
  padding: 15px;
  line-height: 24px;
}
.container-fluid-1 .row-fluid .span12 .container-fluid p.p-3 {
  margin: 0px;
}
.container-fluid-1 .row-fluid .span12 .container-fluid p.p-5 {
font-size: 14px;
line-height: 20px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  color: #ffffff;
  text-shadow: 0px 1px 2px #000000;
}
.container-fluid-1 .row-fluid .span12 .container-fluid .row-fluid .span12 .p-1.p-2.p-3 {
  font-size: 18px;
}
.container-fluid-1 .row-fluid .span12 .container-fluid .row-fluid .span12 div {
  margin: 0px 0px -21px 0px;
}
.container-fluid-1 .row-fluid .span12 .container-fluid .row-fluid .span12 div .p-1.p-3.p-4 {
  padding: 15px 15px 15px 48px;
  border-bottom: none;
}
.container-fluid-1 .row-fluid .span12 .container-fluid .row-fluid .span12 div .icon.icon-pencil {
  font-size: 18px;
  margin: -35px 0px 0px 15px;
  width: 18px;
  height: 18px;
}
.container-fluid-1 .row-fluid .span12 .container-fluid .row-fluid .span12 div .icon.icon-chevron-right {
  font-size: 18px;
  margin: -35px 10px 0px 0px;
  height: 18px;
  width: 18px;
}
