 body {
   padding-left: 0;
   padding-right: 0;
 }
#main-content { background: #eaeaea; }
.container-fluid.container-fluid-1 {
  background: #ffffff;
  -moz-box-shadow: 0px 1px 5px 0px #474747;
  -webkit-box-shadow: 0px 1px 5px 0px #474747;
  -o-box-shadow: 0px 1px 5px 0px #474747;
  box-shadow: 0px 1px 5px 0px #474747;
  border-radius: 3px;
  margin-bottom: 5px;
}
.container-fluid.container-fluid-2 {
  padding: 10px;
}
.container-fluid.container-fluid-3 {
  padding: 0px 10px 10px 10px;
  margin-top: 15px;
}
.container-fluid-3 .row-fluid.row-fluid-1 {
  margin: 0px 0px 5px 0px;
}
.container-fluid-3 .row-fluid-1 .span12 .container-fluid-1 {
  padding: 0px;
}
.container-fluid-3 .row-fluid-1 .span12 .container-fluid-1 .heading {
  padding: 10px 10px 25px 15px;
  margin: 0px;
  background: rgba(0, 0, 0, 0) url(../images/source.jpg) repeat 0px 0px;
  background-size: cover;
  text-shadow: 0px 1px 2px #000000;
  font-family:"helvetica";
  font-size: 30px;
  color: #ffffff;
  border-radius: 3px 3px 0px 0px;
}
.container-fluid-3 .row-fluid-1 .span12 .container-fluid-1 p {
  padding: 0px 0px 0px 15px;
  margin: -30px 0px 10px 0px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0px 1px 2px #000000;
}
.container-fluid-3 .row-fluid .span12 .container-fluid-1.container-fluid-2 .rectangle {
  background: #80ccff url(../images/source-1.jpeg) repeat 0px 0px;
  background-size: cover;
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.498039);
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.498039);
  -o-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.498039);
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.498039);
  border-radius: 2px;
  margin: 0px 0px 2px 0px;
  border: none;
  height: 40px;
  width: 40px;
}
.container-fluid-3 .row-fluid .span12 .container-fluid-1.container-fluid-2 p.p-1 {
  margin: -44px 0px 0px 50px;
  font-weight: bold;
}
.container-fluid-3 .row-fluid .span12 .container-fluid-1.container-fluid-2 p {
  line-height: 18px;
}
.container-fluid-3 .row-fluid .span12 .container-fluid-1.container-fluid-2 p.p-2 {
  margin: -2px 0px 7px 50px;
  font-size: 12px;
}
.rectangle .label-warning {
  padding: 0px 3px 0px 3px;
  background: #007ce3;
  font-size: 9px;
  border-radius: 0px;
  height: 13px;
  margin-top: 28px;
  width: 40px;
}
